

<br />

<div class="container row">
    <div class="colcol-12 text-center">
        <h2 class="text-primary text-center">Oops!! Tranaction cancelled!</h2>
        <h3> Thank you for Shopping with Us. Please Vist us again! </h3>
    </div>
</div>
